<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Profile</title>
<body>
    <h1>Gemma Nguyen</h1>
    <h2>Introduction</h2>
        <p>I'm currently a <em>senior</em> majoring in <strong>operations management, business analytics, and information systems</strong>. I will be graduating this semester and is beyond excited to apply my skill sets to the professional world.</p>
    <h2>Job Experience</h2>
        <p>In the past, I've worked as a math tutor for elementary to middle school students, off-site assistant property manager, and as a waitress for a seafood company.</p>
    <h2>Relevant Coursework</h2>
    <!--Adding ordered and unordered lists-->
        <ul>
            <li>BMGT302</li>
            <li>BMGT402</li>
            <li>BMGT404</li>
            <li>BMGT407</li>
        </ul>
    <h2>Timeline of Coursework</h2>
        <!-- Adding table elements for my coursework and my favorite professors-->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester</th>
            </tr>
            <tr>
                <td>BMGT302</td>
                <td>Fall 2022</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2022</td>
            </tr>
            <tr>
                <td>BMGT404</td>
                <td>Spring 2023</td>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Spring 2023</td>
            </tr>
        </table>
    <h2>Other experiences</h2>
        <ol>
            <li>Thi Nghe Orphanage For Special Children: Living Assistant</li>
            <li>Filipino Student Organization (FCA): Sports Coordinator (E-Board)</li>
            <li>Huynh Foundation: Fundraiser and Marketing Associate</li>
        </ol>
    <!-- Adding two hyperlinks to my professional profile-->
    <h2>Attached Below Are The Links To My Professional Profile(s)</h2>
        <p>Here is the link to my <a href="https://linkedin.com/in/giau-nguyen-528423176">LinkedIn</a></p>
        <p>Here is the link to my <a href="https://github.com/Gemgem9">Github</a></p>
    <h4>Image Element</h4>
        <p>Here is a picture of the Smith logo.</p>
            <!-- Adding Smith logo and hyperlinked logo to a relative link to open new tab-->
    <a href="about.html" target="_blank"><img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo"></a>

</body>
</html>