{% extends "base.html" %}

{% block page_title %}
    Welcome to your training for the TerpSys Student Information System
{% endblock %}

{% block page_head %}
    Welcome to your training for the TerpSys Student Information System
{% endblock %}

{% block page_content %}
    Welcome to your training for the TerpSys Student Information System.
    Training materials are currently under construction, but will be created very soon.
    Please check back soon or email Gemma at <a href="mailto:giging20@terpmail.umd.edu">giging20@terpmail.umd.edu</a> if you wish to be placed on the waiting list.
{% endblock %}